# Virtual environment
venv/
env/
.venv/

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
data/rockyou.txt
